

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */

    z-index: 9999;

    .zoomed-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    }

    .mobile-menu-icon {
        background-color: transparent;
        border: none;

        & > span {
            position:absolute;
            top: 20px;
            right: 20px;
            background-color:Black;
            width: 35px;
            height: 3px;
            display: block;
            margin-bottom: 18px;
            &:nth-child(1) {
                    transform: translateY(11px) rotate(135deg);
            }
            &:nth-child(2) {
                    transform: translateY(11px) rotate(45deg);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

